@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Montserrat-Regular";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Heavy";
	src: url("../fonts/Lato-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Medium";
	src: url("../fonts/Lato-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
	font-family: "Chunkfive";
	src: url("../fonts/Chunkfive.otf") format("truetype");
}

@font-face {
	font-family: "Lato-Italic";
	src: url("../fonts/Lato-Italic.ttf") format("truetype");
}