body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

.my_btn{
	background-color: #ffffa6;
	border: none;
	text-transform: uppercase;
	color: #10273d;
	padding: 30px 30px;
	border-radius: 50px;
	font-size: 16px;
	font-family: "Lato-Black", sans-serif;
}


/*header*/
header h2{
	font-size: 25px;
	font-family: "Montserrat-Regular", sans-serif;
	color:#fff;
	}
header h2 span{
	font-family: "Montserrat-Bold", sans-serif;
	}
header{
	height: 738px;
	background-image: url("../img/banner.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
nav{
	height: 120px;
	line-height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li{
	display: inline-block;
	
	
}
.menu li a{
	color:#fff;
	font-family: 'Lato-Medium', sans-serif;
	border: solid 3px rgba(0,0,0,0);
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 14px;

}
.menu li a:hover,
.menu li a:focus{
	color:#fff;
text-decoration: none;
border: solid 3px #fff;
}

.title_block{
	color: #fff;
	text-align: center;
	margin-top: 170px;
}

.title_block h1{
	font-size : 80px;
	margin-bottom: 30px;	
	font-family:"Chunkfive", sans-serif;
}
.title_block h1 span{
	color:#01a2a6; 
}

.title_block p{
	font-size: 18px;
	margin-bottom: 50px;
	font-family:"Lato-Regular", sans-serif;

}